* {
	/*font-family: futura, arial;*/
	font-family: scandia-web, helvetica;
}
h1,h2,h3, h4 {
	color: #474747;
}
.navbar-default {
	background-color: rgb(90,90,90);
}
.navbar a {
	font-family: scandia-web, helvetica;
	font-size: 14px;
	color: #fff !important;
}
.btn-tola-accent {
	background-color: rgb(0, 175, 170);
	color: #fff;
}
.btn-tola-accent:hover,
.btn-tola-accent:active,
.btn-tola-accent:focus {
	background-color: #008681;	
	color: #fff;
}
.tola-brand {
	font-size: 22px;
	font-weight: bold;
}
.dropdown-menu li a {
	color: rgb(77, 82, 90) !important;
}
.dropdown li:first-child {
	color: rgb(0, 175, 170) !important;
}
.nav-spacer {
	margin-top: 50px;
}

/* datasources.hbs */
.thumbnail {
	text-decoration: none !important;
	color: #fff;
}
.thumbnail:hover {
	opacity: .60;	
}
.data-internal {
	background-color: rgb(77, 82, 90);
}
.data-external {
	background-color: rgb(129,188,0);
}
.datasource-item {	
	padding: 5px;
}
.datasource-date {
	font-style: italic;
	color: #ddd;
	font-size: 12px;
}

/* DESIGNER */
.tb-designer-header {
	margin-top: 30px;
}
.design-window {
	margin-top: 20px;
	min-height: 80vh;
	background-color: rgba(250,250,250,1);
	border: 1px solid #bbb;
}
.design-window button {
	margin-top: 15px;
	margin-left: 15px;
	/*background-color: rgba(77,82,90,.60);*/
}
.design-window button:hover {
	background-color: rgba(77,82,90,.75);
	color: rgb(255,255,255);
}
/*.toggle-new-board {
	background-color: '#81bc00' !important;
}*/
.tolaboard-update-toggle {
	float: left;
}

/* gridster */
/*.gridster {
    width: 1138px;
    margin: 0 auto;
}*/
.gridster ul {
	/* forces grid to maintain width and avoid collapsing*/
	width: 100% !important; 
}
.gridster li {
	list-style-type: none;
	cursor: move;
	border: .5px solid #aaa;
	border-radius: 2px;
	box-shadow: 1px 2.5px 5px #ddd;
}
.widget-ui {
	position: absolute;
	right: 0px;
	top: -15px;
	cursor: pointer;
}
.builder-widget {
	width: 1000px;
}
.data-source-preview {
	margin: 10px 10px;
}
.viz-selection div {
	margin: 10px 5px;
	color: #777;

}
.viz-selection div:hover {
	cursor: pointer;
}
