* {
	/*font-family: futura, arial;*/
	font-family: 'Questrial', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	color: #474747;
}
.navbar-default {
	/*background-color: rgb(90,90,90);*/
	background-color: #2a86a2;
}
.navbar a {
	font-family: 'Questrial', sans-serif;
	font-size: 15px;
	color: #fff !important;
}
.navbar-nav li:hover {
	background-color: #eee;
}
.navbar-nav li a:hover {	
	color: #333 !important;
}
.btn-tola-accent {
	background-color: #3d8f3d;/*rgb(0, 175, 170);*/
	color: #fff;
}
.btn-tola-accent:hover,
.btn-tola-accent:active,
.btn-tola-accent:focus {
	background-color: #367d36;	
	color: #fff;
}
.tola-brand {
	font-size: 22px;
	font-weight: bold;
}
.dropdown-menu li a {
	color: rgb(77, 82, 90) !important;
}
.dropdown li:first-child {
	color: rgb(0, 175, 170) !important;
}
.nav-spacer {
	margin-top: 50px;
}

/* datasources.hbs */
/*.thumbnail {
	text-decoration: none !important;
	color: #fff;
}
.thumbnail:hover {
	opacity: .60;	
}*/
.data-internal {
	background-color: rgb(77, 82, 90);
}
.data-external {
	background-color: rgb(129,188,0);
}
.datasource-item {	
	padding: 5px;
}
.datasource-date {
	font-style: italic;
	color: #ddd;
	font-size: 12px;
}

/* DESIGNER */
.tb-designer-header {
	margin-top: 30px;
}
.design-window {
	margin-top: 20px;
	min-height: 80vh;
	background-color: rgba(250,250,250,1);
	border: 1px solid #bbb;
}
.design-window button {
	margin-top: 15px;
	margin-left: 15px;
	/*background-color: rgba(77,82,90,.60);*/
}
.design-window button:hover {
	background-color: rgba(77,82,90,.75);
	color: rgb(255,255,255);
}
/*.toggle-new-board {
	background-color: '#81bc00' !important;
}*/
.tolaboard-update-toggle {
	float: left;
}

/* gridster */
/*.gridster {
    width: 1138px;
    margin: 0 auto;
}*/
.gridster ul {
	/* forces grid to maintain width and avoid collapsing*/
	width: 100% !important; 
}
.gridster li {
	list-style-type: none;
	cursor: move;
	border: .5px solid #ddd;
	border-radius: 2px;
	box-shadow: 1px 2.5px 5px #ddd;
}
.widget-ui {
	position: absolute;
	right: 0px;
	top: -15px;
	cursor: pointer;	
}
.widget-ui button {
	border: 1px solid #888;
	border-radius: 2px;
}
.builder-widget {
	width: 1000px;
}

/* Data Source Preview Scrollbox */
.data-preview, .viz-selection {
	margin: 10px 10px;

}
.data-preview th {
	background-color: #555;
	color: #fff;
	font-size: 11px;
	padding-left: 1px;
}
.data-preview td {

	border: 1px solid #ccc;
	font-size: 11px;
	padding-left: 1px;
	padding-right: 1px;
}
.graph-library div.col-md-2 {
	padding-left: 5px;
	padding-right: 5px;
}
.graph-library div.col-md-3 {
	padding-left: 5px;
	padding-right: 5px;
}
.viz-selection {
	margin: 5px 0px;	
}
.viz-selection hr {
	margin-top: 1px;
	margin-bottom: 0px;
}
.viz-selection img {
	margin: 0px 0px;
	color: #555;
}
.viz-selection img {
	width: 100%;
}
a.thumbnail {
	text-decoration: none !important;
	color: #fff;
}
a.thumbnail:link,
a.thumbnail:hover,
a.thumbnail:active,
a.thumbnail:focus {
	border-color: red;
	cursor: pointer;
	opacity: .80;
}
/*.viz-selection:hover {
	cursor: pointer;
}*/
/*.graph-library a:hover,
.graph-library a:focus,
.graph-library a:active {
  cursor: pointer;
  border-color: red;
}*/
/*.viz-selection p {
	font-weight: bold;
	font-size: 16px;
}*/
.field-select {
	overflow: auto;
	width: 250px; 
	height: 200px;
}
.field-select li {
	padding-left: 3px;
}
.field-select li:hover {
	background-color: #ddd;	
	cursor: default;
}
#footer {
	position: fixed;
	width: 100%;
	margin-top: 3px;
	bottom: 0px;
	height: 40px;
	border-top: 1px solid #f5f5f5;
	background-color: rgb(215, 215, 215);
	vertical-align: top;
}

