

<div class="container">
	<div class="row">
		<h4>Designer</h4>
	</div>
	<div class="row">		
		<div class="dropdown">
		  <button class="btn btn-primary">New Tolaboard</button>
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    Edit Tolaboard
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		    <li><a href="/mydashboards">Weekly Snapshot</a></li>
            <li><a href="/mydashboards">Beneficiary Info</a></li>
            <li><a href="/mydashboards">Refugee Flow</a></li>
            <li><a href="/mydashboards">Program Analytics and Insights</a></li>
		  </ul>
		</div>
	</div>
</div>

<section class="create-view">{{tolaboard-designer}}</section>

  
  

