
<!-- View to create/define new dashboard -->

<section class="create-view">{{tolaboard-designer dataSources=model.dataSources graphOptions=model.graphOptions}}</section>

<!--  We don't want much in the way of dynamic content here as that
	  will be handled in the tolaboard-designer component      
-->
  
  

